body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.mb-8 {
  margin-bottom: 8px;
}

/* Pokedex Card */

.main-card {
  width: 500px;

  margin: 20px 0;
}

#pokedex {
  display: flex;
  flex-direction: column;

  min-height: 50vh;

  padding: 24px;

  background-color: #fb6c6c;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: #fff;
}

/* pokedexcar end */

/* top nav */

.top-nav {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;

  cursor: pointer;
}

/* top nav end */

/* top infobar */

.top-infobar {
  display: flex;
  justify-content: space-between;
}

#poke-element {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 100px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

/* top infobar end */

/* info container */

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 500px;

  margin-top: -40px;

  background-color: #fff;
  border: 2px solid #fb6c6c;
  border-radius: 40px;
}

#pokeImg {
  object-fit: contain;

  width: 240px;
  height: 240px;

  margin-top: -200px;
}

.poke-stats {
  display: flex;
  justify-content: space-around;

  width: 100%;

  padding: 5px 0;

  border-bottom: 1px solid #fb6c6c;
}

.tab-stat {
  cursor: pointer;
}

#stats-content {
  width: 100%;
}

.stat-list {
  box-sizing: border-box;

  width: 100%;

  margin: 0;
  padding: 20px;

  list-style-type: none;
}

.stat-element {
  padding: 4px 0;
}

/* info container end */

/* POKEDEX */

#pd-poke-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 900px;

  margin: 20px;
}

#pd-title {
  width: 100%;
  margin: 0 20px;
}

.pd-poke-item {
  display: flex;
  justify-content: space-between;

  width: 240px;
  height: 100px;

  padding: 16px;

  border-radius: 16px;
  color: #fff;
  font-weight: bold;
}

#pd-poke-img {
}

#pd-poke-img img {
  width: 100px;
  height: auto;
}
